################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Desafio_Thomas_Greg/FileContentIndex/21e5fdf2-04b4-4640-be98-06d470500108.vsidx
/.vs/Desafio_Thomas_Greg/FileContentIndex/8b1b8961-fcb6-4628-8392-cc83a4df5c34.vsidx
